{% extends 'base.html' %}
<!-- Title value -->
{% block title %}Change Password Page{% endblock title %}
{% block content %}

<!-- Change password form -->
<div style="text-align: center">
    <h2>Change Password</h2>
</div>
<form method="post">{% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="fieldWrapper">
        <p style=" text-align: center"> {{ field.errors }}</p>
        <p style="  text-align: center"><b>{{ field.label_tag }}</b> </p>
        <p style="  text-align: center">{{ field }}</p>
    </div>
    {% endfor %}
    <div style="text-align: center">
        <input class="btn btn-primary" type="submit" value="Change">
    </div>
    <div style="text-align: center">
        <a href="{% url 'index' %}">Home</a>
    </div>
</form>
{% endblock content %}