{% extends "base.html" %}
<!-- Title value -->
{% block title %}Vehicle list{% endblock %}
{% block content %}

<div class="container-fluid">
    <!-- If the list isn't empty, creates a table with all the Vehicle model data -->
    {% if vehicle_list %}
    <div class="table-responsive">
        <table class="table table-striped" style="border:1px solid black">
            <tr>
                <div class="col-sm-1">
                    <th style="border:1px solid black; width: 10%">ID.</th>
                </div>
                <div class="col-sm-2">
                    <th style="border:1px solid black; width: 30%">Vehicle Id</th>
                </div>
                <div class="col-sm-2">
                    <th style="border:1px solid black; width: 30%">Serial Number</th>
                </div>
                <div class="col-sm-5">
                    <th style="border:1px solid black; width: 30%">Vehicle type</th>
                </div>
            </tr>

            {% for vehicle in vehicle_list %}
            <tr>
                <div class="col-1">
                    <td style="border:1px solid black"><a
                            href="{% url 'vehicle_detail' vehicle.pk %}">{{vehicle.pk}}</a>
                    </td>
                </div>
                <div class="col-2">
                    <td style="border:1px solid black">{{ vehicle.vehicle_id }}</td>
                </div>
                <div class="col-2">
                    <td style="border:1px solid black">{{ vehicle.vehicle_sn }}</td>
                </div>
                <div class="col-5">
                    <td style="border:1px solid black">{{ vehicle.vehicle_type }}</td>
                </div>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- import the pagination template -->
    {% include "pagination.html" %}
    <!-- If is empty inform the user -->
    {% else %}
    <div style="text-align: center">
        <h3>Vehicle list is empty.</h3>
    </div>
    {% endif %}
</div>

{% endblock %}