{% extends "base.html" %}
<!-- Title value -->
{% block title %}Add new order{% endblock %}

<!-- Shows the form to add a new order -->
{% block content %}
<div class="container" style="text-align: center">
    <form method="post">{% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="fieldWrapper">
            <p style=" text-align: center"> {{ field.errors }}</p>
            <p style="  text-align: center"><b>{{ field.label_tag }}</b> </p>
            <p style="  text-align: center">{{ field }}</p>
        </div>
        {% endfor %}
        <div style="text-align: center">
            <p>Note: after save you will transfer to your order list</p>
            <input class="btn btn-primary" type="submit" value="Save">
        </div>
    </form>
</div>
{% endblock %}